@model IEnumerable<demo01.Models.Information>

@{
    ViewData["Title"] = "Index";
}

<h1>Information List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.License)</th>
            <th>@Html.DisplayNameFor(model => model.Established)</th>
            <th>@Html.DisplayNameFor(model => model.Revenue)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.License)</td>
            <td>@Html.DisplayFor(modelItem => item.Established)</td>
            <td>@Html.DisplayFor(modelItem => item.Revenue)</td>
        </tr>
}
    </tbody>
</table>
